app-forgot-password {
  ion-toolbar {
    --background: transparent;
    --border-color: transparent;
  }
  fixed-botton{
    position: absolute;
    bottom: 0;
    z-index: 10;
  }
  .full-width {
    width: 100%;
  }
}